<?xml version='1.0' encoding='utf-8'?>
<widget id="com.agameoftwohalves.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    
    <name>TurkCem</name>
    <description>Die besten der Besten</description>
    <author email="dinc@" href="http://www.agameoftwohalves.com">AGOTH Webmaster</author>
<content src="index.html" />
    <icon src="pg_wings.png" />
    
    
    <preference name="orientation"    value="portrait" />       <!-- all: default means both landscape and portrait are enabled -->
     <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#ee6e73" />
    <preference name="StatusBarStyle" value="blacktranslucent" />
	
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.camera" />
    <gap:plugin name="org.apache.cordova.media-capture" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.contacts" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.vibration" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="com.simplec.plugins.localnotification" />
	<plugin name="cordova-plugin-console" spec="1.0.1" source="pgb" />
	<plugin name="com.phonegap.plugin.statusbar" spec="1.1.0" source="pgb" />
	<plugin name="phonegap-plugin-push" spec="1.6.0">
    <variable name="SENDER_ID" value="234395128477" />
</plugin>
	
</widget>
